* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.tablero {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: repeat(4,0.5fr);
  background-color: rgb(224, 219, 153);
  border: dotted thin black;
}
.tablero{
  text-align: center;
  font-size: 30px;
  transition: 0.2s ease-in-out;
  cursor: pointer;
  user-select: none;
}
.piso {
  background-color: rgb(226, 241, 245);
  border: black thin solid;
}
#izq,#der {
  color: red;
  font-size: 100px;
}
.btnJugar{
  font-family: fantasy;
}
#inicio {
  background-color: rgb(238, 97, 3);
}
#izq{
  text-align: right;
}
#der{
  text-align: left;
}
#btnDado{
  /*height: 150px;
  width: 150px; */
  border: solid 2px black;
  box-shadow: 5px 5px 5px #000000;
}
#btnJugar{
  /*height: 100px;
  width: 150px; */
  background-color: #ee7661;
  color: #ffffff;
  border: none;
  font-size: 35px;
  box-shadow: 5px 5px 5px #000000;
}
.div_hide {
  opacity: 0;
}