* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.tablero {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: repeat(4,0.5fr);
  background-color: rgb(224, 219, 153);
  border: dotted thin black;
}
.tablero{
  text-align: center;
  font-size: 30px;
  transition: 0.2s ease-in-out;
  cursor: pointer;
  user-select: none;
}
.piso {
  background-color: rgb(226, 241, 245);
  border: black thin solid;
}
#izq,#der {
  color: red;
  font-size: 100px;
}
.btnJugar{
  font-family: fantasy;
}
#inicio {
  background-color: rgb(238, 97, 3);
}
#izq{
  text-align: right;
}
#der{
  text-align: left;
}
#btnDado{
  /*height: 150px;
  width: 150px; */
  border: solid 2px black;
  box-shadow: 5px 5px 5px #000000;
}
#btnJugar{
  /*height: 100px;
  width: 150px; */
  background-color: #ee7661;
  color: #ffffff;
  border: none;
  font-size: 35px;
  box-shadow: 5px 5px 5px #000000;
}
.div_hide {
  opacity: 0;
}
/* #aparte {
  position: absolute;
  align-items: center;
  color: #ffffff;
  font-size: 25px;
  background-color: #ee7661;
  width: 40%; 
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 3px;
  padding: 3px;
}
.preguntas{
  display: flex;
  justify-content: center;
}
.si,.no{
  margin: 5px;
  padding: 5px;
  background-color: #f8b6aa;
  color: #ffffff;
  border: none;
  font-size: 20px;
  box-shadow: 5px 5px 5px #000000;
}   */

/* .fila {
  height: 100%;
  width: 100%;
  background-color: rgb(12, 202, 5);
} */
/* .cuadro {
  /*background-color: rgb(149, 202, 5);*/
  /* height: 25%;
  width: 25%;
  border-color: red;
  border-style: solid;
} 
.vacio {
  /* background-color: rgb(170, 9, 162); */
  /* height: 25%;
  width: 25%;
  border-color: black;
  border-style: solid;
}  */
/* .tablero {
  width: 60em;
  height: 48em;
  background-color: red;
}
.cuadro {
  width: 50px;
  height: 50px;
  background-color: rgb(161, 219, 236);
}/*