* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.tablero {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: repeat(4,0.5fr);
  background-color: rgb(224, 219, 153);
  border: dotted thin black;
}
.tablero{
  height: 100%;
  width: 100%;
  text-align: center;
  font-size: 30px;
  transition: 0.2s ease-in-out;
  cursor: pointer;
  user-select: none;
}
.piso {
  background-color: rgb(226, 241, 245);
  border: black thin solid;
}
.disp{
  color: rgb(216, 194, 194);
}
#izq,#der {
  color: red;
  font-size: 100px;
}
.btnJugar{
  font-family: fantasy;
  cursor: pointer;
}
#inicio {
  background-color: rgb(238, 97, 3);
  display: flex;
  justify-content: center;
  align-items: center;
}
#izq{
  text-align: right;
}
#der{
  text-align: left;
}
#btnDado{
  border: solid 2px black;
  box-shadow: 5px 5px 5px #000000;
  cursor: pointer;
}
#btnJugar{
  background-color: #ee7661;
  color: #ffffff;
  border: none;
  font-size: 50px;
  box-shadow: 5px 5px 5px #ab3838;
  border-radius: 15px;
}
#nro{
  color: red;
  font-size: 39.5px;
}