<!--<!doctype html>-->
<html>

<head>
  <title></title>
  <link rel="stylesheet" href="{{ url_for('static',filename='styles.css') }}">
</head>

<body>
  <div class="tablero">
    <div class="piso" id="inicio">
      <button id="btnJugar" class="btnJugar" onclick="inicioJugar()">JUGAR</button>
    </div>
    <div class="piso" id="c1"> 
      <p id="c1n">{{tablero.0.0}}</p>
      <p id="c1v">{{tablero.0.1}}</p>
      <p id="c1d">{{tablero.0.2}}</p>
    </div>
    <div class="piso" id="c2">
      <p id="c2n">{{tablero.1.0}}</p>
      <p id="c2v">{{tablero.1.1}}</p>
      <p id="c2d">{{tablero.1.2}}</p>
    </div>
    <div class="piso" id="c3">
      <p id="c3v">{{tablero.2.0}}</p>
      <p id="c3n">{{tablero.2.1}}</p>
      <p id="c3d">{{tablero.2.2}}</p>
    </div>
    <div class="piso" id="c4">
      <p id="c4v">{{tablero.3.0}}</p>
      <p id="c4n">{{tablero.3.1}}</p>
      <p id="c4d">{{tablero.3.2}}</p>
    </div>
    <div class="vacio" id="izq">MONO
    </div>
    <div class="vacio" id="der">POLIO
    </div>
    <div class="piso" id="c5">
      <p id="c5v">{{tablero.4.0}}</p>
      <p id="c5n" >{{tablero.4.1}}</p>
      <p id="c5d" >{{tablero.4.2}}</p>
    </div>
    <div class="piso" id="c6">
      <p id="c6v">{{tablero.5.0}}</p>
      <p id="c6n">{{tablero.5.1}}</p>
      <p id="c6d">{{tablero.5.2}}</p>
    </div>
    <div class="vacio" id="datos">
    </div>
    <!-- <div class="vacio" id="dado"> -->
      <button class="vacio" id="btnDado" onclick="dado()">
        <img class="img" src="/static/img/L1.jpg">
      </button>
    <!-- </div> -->
    <div class="piso" id="c7">
      <p id="c7v">{{tablero.6.0}}</p>
      <p id="c7n">{{tablero.6.1}}</p>
      <p id="c7d">{{tablero.6.2}}</p>
    </div>
    <div class="piso" id="c8">
      <p id="c8v">{{tablero.7.0}}</p>
      <p id="c8n">{{tablero.7.1}}</p>
      <p id="c8d">{{tablero.7.2}}</p>
    </div>
    <div class="piso" id="c9">
      <p id="c9v">{{tablero.8.0}}</p>
      <p id="c9n">{{tablero.8.1}}</p>
      <p id="c9d">{{tablero.8.2}}</p>
    </div>
    <div class="piso" id="c10">
      <p id="c10v">{{tablero.9.0}}</p>
      <p id="c10n">{{tablero.9.1}}</p>
      <p id="c10d">{{tablero.9.2}}</p>
    </div>
    <div class="piso" id="c11">
      <p id="c11v">{{tablero.10.0}}</p>
      <p id="c11n">{{tablero.10.1}}</p>
      <p id="c11d">{{tablero.10.2}}</p>
    </div>
  </div>
  <script src="{{ url_for('static',filename='script.js') }}"></script>
</body>

</html>